
<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../module/header.ejs') %>
    <title><%- title %></title>
  </head>
  <body>
    <%- include('../module/menu.ejs') %>
    <div class="main">
      <div class="login">
        <form action="/login" method="POST">
          <a class="id">아이디</a> : <input class="text" type="text" name="id" required/><br/>
          <a class="pw">비밀번호</a> : <input class="text" type="password" name="pw" required/><br/>
          
          <input class="btn" type="submit" value="로그인"/>
        </form>
      </div>
      <div class="btn">
        <button type="button" class="btn" onclick="javascript=location.href='/signup'">회원가입</button>
      </div>
    </div>
  </body>
</html>
