
<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../module/header.ejs') %>
    <title><%- title %></title>
      
    <% if (data.err) { %>
      <script type="text/javascript">
        alert('<%- JSON.stringify(data.err) %>');
      </script>
    <% } %>
  </head>
  <body>
    <%- include('../module/menu.ejs') %>
    <div class="main">
      <div class="signup">
        <form action="/signup" method="POST">
          <a class="name">이름 (본명)</a> : <input class="text" id="name" type="text" name="name" placeholder="꼭 본명으로 적어주세요." required/><br/>
          <a class="id">아이디</a> : <input class="text" id="id" type="text" name="id" required/><br/>
          <a class="pw">비밀번호</a> : <input class="text" id="pw" type="password" name="pw" required onkeyup="return check('pw')"/><br/>
          <div class="err" id="err.pw"></div>
          <a class="birthday">생일</a> : <input class="date" id="date" type="date" name="birthday" required value="2004-01-01"/><br/>
          <a class="area">지역</a> : <input class="text" id="area" type="text" name="area" required value="부산" placeholder="ex: 서울"/><br/>
          <a class="school">학교</a> : <input class="text" id="school" type="text" name="school" required value="부산남일고등학교" placeholder="ex: 부산남일고등학교" onkeyup="return check('school')"/><br/>
          <div class="err" id="err.school"></div>
          <a class="selfpw">자가진단비밀번호</a> : <input class="text" id="selfpw" type="text" required name="selfpw" placeholder="ex: 1111" onkeypress="return checknumber(event)" onkeyup="return check('selfpw')"/><br/>
          <div class="err" id="err.selfpw"></div>
                  
          <input class="btn" type="submit" value="회원가입"/>
        </form>
      </div>
      <div class="btn">
        <button type="button" class="btn" onclick="javascript=location.href='/login'">로그인</button>
      </div>
    </div>
    <script type="text/javascript">
      function check(id='') {
        var val = document.getElementById(id).value;
        var text = '';
        if (id === 'pw') {
          if (String(val).length < 8) {
            text = '비밀번호는 8자리 이상으로 해야합니다.';
          }
        }
        if (id === 'school') {
          if (val.indexOf('학교') === -1) {
            text = '마지막은 학교로 끝나야합니다.';
          }
        }
        if (id === 'selfpw') {
          if (String(val).length < 4 || String(val).length > 4) {
            text = '비밀번호는 숫자 4자리입니다.';
          }
        }
        return document.getElementById(`err.${id}`).innerHTML = text;
      }
      function checknumber(event) {
        if (event.key >= 0 && event.key <= 9) {
          return true;
        }
        return false;
      }
    </script>
  </body>
</html>
