
.main {
  color: white;
  margin-top: 50px;
  text-align: center;
}
.main > .title {
  font-size: 125%;
  margin-bottom: 1%;
}

.main > .btn {
  margin-top: 3%;
  font-size: 150%;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  height: auto;
  padding: 1.5% 1.5%;
}
.main > .btn:hover {
  background-color: rgb(200, 200, 200);
  cursor: pointer;
}

.main > #check {
  margin-top: 3%;
  font-size: 95%;
  font-weight: bold;
  background-color: rgb(225, 225, 225);
  height: auto;
  padding: 0.5% 0.5%;
}
.main > #check:hover {
  background-color: rgb(170, 170, 170);
  cursor: pointer;
}
