
.main {
  color: white;
  margin-top: 50px;
  text-align: center;
}

.main > .login > form > .text {
  text-align: center;
  margin-bottom: 1.5%;
  font-size: 120%;
  padding: 0.5% 0.5%;
}

.main > .login > form > .btn {
  margin-top: 1%;
  font-size: 120%;
  font-weight: bold;
  height: auto;
  padding: 0.6% 0.8%;
}
.main > .login > form > .btn:hover {
  background-color: rgb(200, 200, 200);
  cursor: pointer;
}
.main > .login > form > .id {
  margin: 0 0.7%;
}

.main > .btn > .btn {
  margin-top: 1%;
  font-size: 80%;
  font-weight: bold;
  height: auto;
  padding: 0.5% 0.5%;
}
