
.main {
  color: white;
  margin-top: 50px;
  text-align: center;
}

.main > .signup > form > .err {
  margin-top: 1%;
  font-size: 90%;
  color: red;
}
.main > .signup > form > .text {
  text-align: center;
  margin-top: 1.5%;
  font-size: 120%;
  padding: 0.5% 0.5%;
}
.main > .signup > form > .date {
  margin-top: 1.5%;
  font-size: 120%;
  padding: 0.7% 5%;
}

.main > .signup > form > .btn {
  margin-top: 1%;
  font-size: 120%;
  font-weight: bold;
  height: auto;
  padding: 0.6% 0.8%;
}
.main > .signup > form > .btn:hover {
  background-color: rgb(200, 200, 200);
  cursor: pointer;
}
.main > .signup > form > .name {
  margin: 0 2.4%;
}
.main > .signup > form > .id {
  margin: 0 3.9%;
}
.main > .signup > form > .pw {
  margin: 0 3.1%;
}
.main > .signup > form > .birthday,
.main > .signup > form > .area,
.main > .signup > form > .school {
  margin: 0 4.7%;
}

.main > .btn > .btn {
  margin-top: 1%;
  font-size: 80%;
  font-weight: bold;
  height: auto;
  padding: 0.5% 0.5%;
}
