const { MessageEmbed } = require('discord.js');
const { prefix, deletetime } = require('./../config.json');

module.exports = {
    name: '',
    aliases: [''],
    cooldown: 0,
    description: '',
    execute(message) {
        
    }
};